<% var data={ title: "Dashboard COVID-19" , author: "Vladimir Riz" }; %>
  <%= _.template(require('./../includes/header.html').default)(data) %>

    <div class="container">
      <%= _.template(require('./../includes/nav.html').default)(data) %>
        <div class="container__info">
          <%= _.template(require('./../includes/cases.html').default)(data) %>
            <%= _.template(require('./../includes/death.html').default)(data) %>
              <div class="two-blocks">
                <%= _.template(require('./../includes/recovered.html').default)(data) %>
                  <%= _.template(require('./../includes/daily_cases.html').default)(data) %>
              </div>
        </div>

    </div>

    <%= _.template(require('./../includes/footer.html').default)(data) %>