$color-light: #bdbdbd;

$color-danger:#e60000;
$color-dark-grey: #404040;

$color-dark-slate-grey : #2F4F4F;

$grey-l : #A9A9A9;
$black-l : black;

$dark-slate-grey : #2F4F4F;
$dark-cyan: #008B8B;

$color-black: #000;

 