*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$font-stack: -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Roboto-Regular.ttf);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  font-family: $font-stack;
  background-color: $color-black;
  color: $color-light;
  #logo {
    width: 10rem;
  }
}

button{
  outline: none;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

ul{
  list-style: none;
}

input {
  margin: 10px!important;

  &:focus {
    outline: none;
  }
}

.none{
  display: none;
}